<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.order.query.dao.SOClientDashboardMapper">

    <select id="selectClientDashboardStats" resultType="com.werp.sero.order.query.dto.SOClientDashboardResponseDTO$SOClientStatDTO">
        SELECT
            /* 납기 임박(7일 이내) 및 지연 */
            COUNT(CASE WHEN DATEDIFF(A.shipped_at, NOW()) &lt;= 7
                AND A.status NOT IN ('ORD_DONE', 'ORD_CANCEL') THEN 1 END) as nearDeadlineCount,

            /* 접수 대기 */
            COUNT(CASE WHEN A.status = 'ORD_RED' THEN 1 END) as pendingCount,

            /* 진행 중 */
            COUNT(CASE WHEN A.status IN ('ORD_RVW', 'ORD_APPR_PEND', 'ORD_APPR_DONE', 'ORD_PRO', 'ORD_SHIPPING', 'ORD_PARTIAL_ING') THEN 1 END) as inProgressCount,

            /* 완료 */
            COUNT(CASE WHEN A.status = 'ORD_DONE' THEN 1 END) as doneCount
        FROM sales_order A
        WHERE A.client_id = #{clientId}
          AND A.ordered_at >= DATE_SUB(NOW(), INTERVAL 12 MONTH)
    </select>


    <select id="selectClientNotices" resultType="com.werp.sero.order.query.dto.SOClientDashboardResponseDTO$SOClientNoticeDTO">
        SELECT
            A.id,
            A.title,
            A.is_emergency as isEmergency
        FROM notice A
        WHERE A.category = 'NOTICE_CUSTOMER'
        ORDER BY A.is_emergency DESC, A.created_at DESC
        LIMIT 5
    </select>

    <select id="selectRecentOrders" resultType="com.werp.sero.order.query.dto.SOClientDashboardResponseDTO$SOClientDashboardListDTO">
        SELECT
            A.id as orderId,
            A.so_code as soCode,
            A. main_item_name as mainItemName,
            A.total_item_count as totalItemCount,
            A.total_quantity as totalQuantity,
            A.shipped_at as shippedAt,
            A.status
        FROM sales_order A
        WHERE A.client_id = #{clientId}
        GROUP BY A.id
        ORDER BY A.ordered_at DESC
        LIMIT 7
    </select>

    <!-- 납기 요청일 7일 이하 및 지연된 주문 조회 -->
    <select id="getClientUrgentOrders" resultType="com.werp.sero.order.query.dto.SOClientDashboardResponseDTO$SOClientUrgentOrderDTO">
        SELECT
            A.id as orderId,
            A.so_code as orderCode,
            A.total_quantity as totalQuantity,
            A.po_code as poCode,
            A.shipped_at as shippedAt,
            A.status,

            CASE
                WHEN DATEDIFF(A.shipped_at, CURDATE()) = 0 THEN 'D-Day'
                WHEN DATEDIFF(A.shipped_at, CURDATE()) > 0 THEN CONCAT('D-', DATEDIFF(A.shipped_at, CURDATE()))
                ELSE CONCAT('D+', ABS(DATEDIFF(A.shipped_at, CURDATE())))
                END as dDay
        FROM sales_order A
        WHERE
            A.status NOT IN ('ORD_DONE', 'ORD_CANCEL')
          AND DATEDIFF(A.shipped_at, CURDATE()) &lt;= 7
          AND A.client_id = #{clientId}
        ORDER BY A.shipped_at ASC
    </select>

</mapper>