<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.order.query.dao.SOClientMapper">
    <resultMap id="SOClientResponseResultMap" type="com.werp.sero.order.query.dto.SOClientResponseDTO">
        <id property="orderId" column="order_id"/>
        <result property="soCode" column="so_code"/>
        <result property="mainItemName" column="main_item_name"/>
        <result property="totalQuantity" column="total_quantity"/>
        <result property="totalPrice" column="total_price"/>
        <result property="orderedAt" column="ordered_at"/>

        <result property="shippingName" column="shipping_name"/>
        <result property="address" column="address"/>
        <result property="recipientName" column="recipient_name"/>
        <result property="recipientContact" column="recipient_contact"/>

        <result property="clientId" column="client_id"/>
        <result property="clientManagerId" column="client_manager_id"/>
        <result property="clientManagerName" column="manager_name"/>
        <result property="clientManagerContact" column="manager_contact"/>

        <collection property="items" ofType="com.werp.sero.order.query.dto.SOClientItemResponseDTO">
            <id property="id" column="item_id"/>
            <result property="itemCode" column="item_code"/>
            <result property="itemName" column="item_name"/>
            <result property="spec" column="spec"/>
            <result property="quantity" column="quantity"/>
            <result property="unit" column="unit"/>
            <result property="unitPrice" column="unit_price"/>
            <result property="totalPrice" column="item_total_price"/>
        </collection>
    </resultMap>
    <!-- 고객사 주문 이력 조회 -->
    <select id="selectOrderHistory" resultMap="SOClientResponseResultMap">
        SELECT
            A.id AS order_id,
            A.so_code,
            A.main_item_name,
            A.total_quantity,
            A.total_price,
            A.ordered_at,
            A.shipping_name,
            A.address,
            A.recipient_name,
            A.recipient_contact,
            A.client_id,
            A.client_manager_id,
            C.name AS manager_name,
            C.contact AS manager_contact,
            B.id AS item_id,
            B.item_code,
            B.item_name,
            B.spec,
            B.quantity,
            B.unit,
            B.unit_price,
            B.total_price AS item_total_price
        FROM (
                 SELECT * FROM sales_order
                 WHERE client_id = #{clientId}
                 ORDER BY ordered_at DESC
                     LIMIT 5
             ) A
                 LEFT JOIN sales_order_item B ON A.id = B.so_id
                 LEFT JOIN client_employee C ON A.client_manager_id = C.id
        ORDER BY A.ordered_at DESC, B.id ASC
    </select>

    <!-- 고객사 주문 불러오기 -->
    <select id="selectOrderForReorder" resultMap="SOClientResponseResultMap">
        SELECT
            A.id AS order_id,
            A.so_code,
            A.main_item_name,
            A.total_quantity,
            A.total_price,
            A.ordered_at,
            A.shipping_name,
            A.address,
            A.recipient_name,
            A.recipient_contact,
            A.client_id,
            A.client_manager_id,
            C.name AS manager_name,
            C.contact AS manager_contact,
            B.id AS item_id,
            B.item_code,
            B.item_name,
            B.spec,
            B.quantity,
            B.unit,
            B.unit_price,
            B.total_price AS item_total_price
        FROM sales_order A
                 LEFT JOIN sales_order_item B ON A.id = B.so_id
                 LEFT JOIN client_employee C ON A.client_manager_id = C.id
        WHERE A.id = #{orderId}
          AND A.client_id = #{clientId}
    </select>

    <!-- 고객사 주문 목록 조회 -->
    <select id="selectAllClientSalesOrders" resultType="com.werp.sero.order.query.dto.SOClientListResponseDTO">
        SELECT
        A.id as orderId,
        A.so_code,
        A.po_code,
        A.main_item_name,
        A.total_price,
        A.total_item_count,
        A.ordered_at,
        A.shipped_at,
        A.status,
        A.so_url,
        A.note
        FROM sales_order A
        WHERE A.client_id = #{clientId}
        <if test="startDate != null and startDate != '' and endDate != null and endDate != ''">
            <choose>
                <when test='dateField == "orderedAt"'>
                    AND A.ordered_at BETWEEN CONCAT(#{startDate}, ' 00:00') AND CONCAT(#{endDate}, ' 23:59')
                </when>
                <when test='dateField == "shippedAt"'>
                    AND A.shipped_at BETWEEN CONCAT(#{startDate}, ' 00:00') AND CONCAT(#{endDate}, ' 23:59')
                </when>
            </choose>
        </if>
        <if test="status != null and status != ''">
            <choose>
                <when test="status == 'CLI_SO_RED'">
                    AND A.status = 'ORD_RED'
                </when>

                <when test="status == 'CLI_SO_ING'">
                    AND A.status IN ('ORD_RVW', 'ORD_APPR_PEND', 'ORD_APPR_DONE', 'ORD_WORK_REQ', 'ORD_PRO', 'ORD_SHIP_READY')
                </when>

                <when test="status == 'CLI_SO_SHIPPING'">
                    AND A.status = 'ORD_SHIPPING'
                </when>

                <when test="status == 'CLI_SO_DONE'">
                    AND A.status = 'ORD_DONE'
                </when>

                <when test="status == 'CLI_SO_CANCEL'">
                    AND A.status = 'ORD_CANCEL'
                </when>

                <otherwise>
                    AND A.status = #{status}
                </otherwise>
            </choose>
        </if>
        <if test="searchKeyword != null and searchKeyword != ''">
            AND (
            A.so_code LIKE CONCAT('%', #{searchKeyword}, '%')
            OR A.po_code LIKE CONCAT('%', #{searchKeyword}, '%')
            )
        </if>
        ORDER BY A.ordered_at DESC
        LIMIT #{limit} OFFSET #{offset}
    </select>


    <!--고객사 주문 상세 조회-->

    <resultMap id="SOClientDetailResultMap" type="com.werp.sero.order.query.dto.SOClientDetailResponseDTO">
        <id property="orderId" column="order_id"/>
        <result property="soCode" column="so_code"/>
        <result property="poCode" column="po_code"/>
        <result property="status" column="status"/>
        <result property="orderedAt" column="ordered_at"/>
        <result property="shippedAt" column="shipped_at"/>
        <result property="soUrl" column="so_url"/>
        <result property="totalQuantity" column="total_quantity"/>
        <result property="totalPrice" column="total_price"/>
        <result property="managerName" column="manager_name"/>
        <result property="managerContact" column="manager_contact"/>
        <result property="clientManagerName" column="client_manager_name"/>
        <result property="shippingName" column="shipping_name"/>
        <result property="address" column="address"/>
        <result property="recipientName" column="recipient_name"/>
        <result property="recipientContact" column="recipient_contact"/>
        <result property="note" column="note"/>
        <result property="clientId" column="client_id"/>

        <collection property="items" ofType="com.werp.sero.order.query.dto.SOClientItemResponseDTO">
            <id property="id" column="item_id"/>
            <result property="itemCode" column="item_code"/>
            <result property="itemName" column="item_name"/>
            <result property="spec" column="spec"/>
            <result property="quantity" column="quantity"/>
            <result property="unit" column="unit"/>
            <result property="unitPrice" column="unit_price"/>
            <result property="totalPrice" column="item_total_price"/>
            <result property="orderId" column="order_id" />
        </collection>
    </resultMap>

    <select id="selectOrderDetailForClient" resultMap="SOClientDetailResultMap">
        SELECT
            A.id AS order_id,
            A.client_id,
            A.so_code,
            A.po_code,
            A.ordered_at,
            A.shipped_at,
            A.status,
            A.total_quantity,
            A.total_price,
            A.so_url,
            A.note,
            A.shipping_name,
            A.address,
            A.recipient_name,
            A.recipient_contact,

            B.name AS manager_name,
            B.contact AS manager_contact,

            C.id AS item_id,
            C.item_code,
            C.item_name,
            C.spec,
            C.quantity,
            C.unit,
            C.unit_price,
            C.total_price AS item_total_price,

            D.manager_name AS client_manager_name
        FROM sales_order A
                 LEFT JOIN employee B ON A.manager_id = B.id
                 LEFT JOIN sales_order_item C ON A.id = C.so_id
                 LEFT JOIN client D ON A.client_id = D.id
        WHERE A.id = #{orderId}
        ORDER BY C.id ASC
    </select>
</mapper>