<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.order.query.dao.SOItemMapper">

    <resultMap id="OrderItemResultMap" type="com.werp.sero.order.query.dto.SOItemResponseDTO">
        <id property="id" column="item_id"/>
        <result property="itemCode" column="item_code"/>
        <result property="itemName" column="item_name"/>
        <result property="spec" column="spec"/>
        <result property="quantity" column="quantity"/>
        <result property="unit" column="unit"/>
        <result property="unitPrice" column="unit_price"/>
        <result property="totalPrice" column="total_price"/>
        <result property="salesOrderId" column="so_id"/>
    </resultMap>

    <select id="selectItemsBySalesOrderId" resultMap="OrderItemResultMap">
        SELECT
            A.id AS item_id,
            A.item_code,
            A.item_name,
            A.spec,
            A.quantity,
            A.unit,
            A.unit_price,
            A.total_price,
            A.so_id
        FROM sales_order_item A
        WHERE A.so_id = #{orderId}
        ORDER BY A.id ASC
    </select>

</mapper>