<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.approval.query.dao.ApprovalMapper">
    <resultMap id="approvalDetailResponseResultMap" type="com.werp.sero.approval.query.dto.ApprovalDetailResponseDTO">
        <id column="approval_id" property="approvalId"/>
        <result column="approval_code" property="approvalCode"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="ref_doc_code" property="refDocCode"/>
        <result column="ref_doc_type" property="refDocType"/>
        <result column="drafted_at" property="draftedAt"/>
        <result column="status" property="status"/>
        <result column="completed_at" property="completedAt"/>
        <result column="total_line" property="totalLine"/>
        <result column="drafter_id" property="drafterId"/>
        <result column="drafter_name" property="drafterName"/>
        <result column="drafter_department" property="drafterDepartment"/>
        <result column="drafter_position_code" property="drafterPositionCode"/>
        <result column="drafter_rank_code" property="drafterRankCode"/>

        <collection property="approvalAttachments" ofType="com.werp.sero.approval.query.dto.ApprovalAttachmentInfoResponseDTO">
            <id column="approval_attachment_id" property="approvalAttachmentId"/>
            <result column="approval_attachment_name" property="approvalAttachmentName"/>
            <result column="approval_attachment_url" property="approvalAttachmentUrl"/>
        </collection>

        <collection property="totalApprovalLines" ofType="com.werp.sero.approval.query.dto.ApprovalLineInfoResponseDTO">
            <id column="approval_line_id" property="approvalLineId"/>
            <result column="approver_id" property="approverId"/>
            <result column="approver_name" property="approverName"/>
            <result column="approver_department" property="approverDepartment"/>
            <result column="approver_position_code" property="approverPositionCode"/>
            <result column="approver_rank_code" property="approverRankCode"/>
            <result column="sequence" property="sequence"/>
            <result column="status" property="status"/>
            <result column="line_type" property="lineType"/>
            <result column="note" property="note"/>
            <result column="viewed_at" property="viewedAt"/>
            <result column="processed_at" property="processedAt"/>
        </collection>
    </resultMap>

    <select id="countByFilterDTO" resultType="_long">
        SELECT
               COUNT(DISTINCT A.id)
          FROM approval A
          JOIN employee B
            ON A.drafter_id = B.id
          JOIN department C
            ON B.dept_id = C.id
          LEFT JOIN department D
            ON C.parent_dept_id = D.id
        <if test="approvalRole == 'approver' or approvalRole == 'receiver' or approvalRole == 'referrer'">
          JOIN approval_line E
            ON A.id = E.approval_id
        </if>
        <where>
            <if test="approvalRole == 'drafter'">
                A.drafter_id = #{employeeId}
            </if>
            <if test="approvalRole == 'approver' or approvalRole == 'receiver' or approvalRole == 'referrer'">
                AND E.approver_id = #{employeeId}
            </if>
            <if test="approvalRole == 'receiver'">
                AND A.status = 'AS_APPR'
            </if>
            <if test="approvalRole == 'approver' and approvalLineStatusList != null and approvalLineStatusList.size() > 0">
                AND E.status IN
                <foreach collection="approvalLineStatusList" item="approvalLineStatus" open="(" separator="," close=")">
                    #{approvalLineStatus}
                </foreach>
            </if>
            <if test="approvalStatus != null and approvalStatus != ''">
                AND A.status = #{approvalStatus}
            </if>
            <if test="startDate != null">
                AND LEFT(A.drafted_at, 10) >= #{startDate}
            </if>
            <if test="endDate != null">
                AND #{endDate} >= LEFT(A.drafted_at, 10)
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                     A.title LIKE CONCAT('%', #{keyword}, '%')
                 OR B.name LIKE CONCAT('%', #{keyword}, '%')
                 OR A.approval_code LIKE CONCAT('%', #{keyword}, '%')
                 OR A.ref_code LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="refType != null and refType != ''">
                AND A.ref_code LIKE CONCAT(#{refType}, '%')
            </if>
            <if test="approvalLineType != null and approvalLineType != ''">
                AND E.line_type = #{approvalLineType}
            </if>
            <if test="isRead != null">
                <choose>
                    <when test="isRead == true">
                        AND E.viewed_at IS NOT NULL
                    </when>
                    <otherwise>
                        AND E.viewed_at IS NULL
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <select id="findApprovalsByFilterDTO" resultType="com.werp.sero.approval.query.dto.ApprovalSummaryResponseDTO">
        SELECT
               A.id AS approvalId
             , A.approval_code AS approvalCode
             , A.title AS title
             , A.status AS approvalStatus
             , A.total_line AS totalLine
             , LEFT(A.ref_code, 2) AS refType
             , A.ref_code AS refCode
             , A.drafted_at AS draftedAt
             , A.drafter_id AS drafterId
             , B.name AS drafterName
             , B.position_code AS drafterPositionCode
             , B.rank_code AS drafterRankCode
             , C.dept_name AS drafterDepartment
             , D.dept_name AS drafterParentDepartment
             , CASE
                    WHEN EXISTS (
                                  SELECT 1
                                    FROM approval_attachment F
                                   WHERE A.id = F.approval_id
                                )
                    THEN true
                    ELSE false
               END AS isApprovalAttachment
        <if test="approvalRole == 'approver' or approvalRole == 'receiver' or approvalRole == 'referrer'">
             , E.viewed_at AS viewedAt
        </if>
          FROM approval A
          JOIN employee B
            ON A.drafter_id = B.id
          JOIN department C
            ON B.dept_id = C.id
          LEFT JOIN department D
            ON C.parent_dept_id = D.id
        <if test="approvalRole == 'approver' or approvalRole == 'receiver' or approvalRole == 'referrer'">
            JOIN approval_line E
            ON A.id = E.approval_id
        </if>
        <where>
            <if test="approvalRole == 'drafter'">
                A.drafter_id = #{employeeId}
            </if>
            <if test="approvalRole == 'approver' or approvalRole == 'receiver' or approvalRole == 'referrer'">
                AND E.approver_id = #{employeeId}
            </if>
            <if test="approvalRole == 'receiver'">
                AND A.status = 'AS_APPR'
            </if>
            <if test="approvalRole == 'approver' and approvalLineStatusList != null and approvalLineStatusList.size() > 0">
                AND E.status IN
                <foreach collection="approvalLineStatusList" item="approvalLineStatus" open="(" separator="," close=")">
                    #{approvalLineStatus}
                </foreach>
            </if>
            <if test="approvalStatus != null and approvalStatus != ''">
                AND A.status = #{approvalStatus}
            </if>
            <if test="startDate != null">
                AND LEFT(A.drafted_at, 10) >= #{startDate}
            </if>
            <if test="endDate != null">
                AND #{endDate} >= LEFT(A.drafted_at, 10)
            </if>
            <if test="keyword != null and keyword != ''">
                AND (
                A.title LIKE CONCAT('%', #{keyword}, '%')
                OR B.name LIKE CONCAT('%', #{keyword}, '%')
                OR A.approval_code LIKE CONCAT('%', #{keyword}, '%')
                OR A.ref_code LIKE CONCAT('%', #{keyword}, '%')
                )
            </if>
            <if test="refType != null and refType != ''">
                AND A.ref_code LIKE CONCAT(#{refType}, '%')
            </if>
            <if test="approvalLineType != null and approvalLineType != ''">
                AND E.line_type = #{approvalLineType}
            </if>
            <if test="isRead != null">
                <choose>
                    <when test="isRead == true">
                        AND E.viewed_at IS NOT NULL
                    </when>
                    <otherwise>
                        AND E.viewed_at IS NULL
                    </otherwise>
                </choose>
            </if>
        </where>
          ORDER By A.id DESC
          LIMIT #{limit}
         OFFSET #{offset}
    </select>

    <select id="findApprovalByApprovalId" parameterType="_int" resultMap="approvalDetailResponseResultMap">
        SELECT
               A.id AS approval_id
             , A.approval_code AS approval_code
             , A.title as title
             , A.content as conent
             , A.ref_code as ref_doc_code
             , LEFT(A.ref_code, 2) AS ref_doc_type
             , A.drafted_at AS drafted_at
             , A.status AS status
             , A.completed_at AS completed_at
             , A.total_line AS total_line
             , C.id AS drafter_id
             , C.name AS drafter_name
             , D.dept_name AS drafter_department
             , C.position_code AS drafter_position_code
             , C.rank_code AS drafter_rank_code
             , B.id AS approval_attachment_id
             , B.name AS approval_attachment_name
             , B.url AS approval_attachment_url
             , E.id AS approval_line_id
             , E.approver_id AS approver_id
             , F.name AS approver_name
             , G.dept_name AS approver_department
             , F.position_code AS approver_position_code
             , F.rank_code AS approver_rank_code
             , E.sequence AS sequence
             , E.status AS staus
             , E.line_type AS line_type
             , E.note AS note
             , E.viewed_at AS viewed_at
             , E.processed_at AS processed_at
          FROM approval A
          LEFT JOIN approval_attachment B
            ON A.id = B.approval_id
          JOIN employee C
            ON A.drafter_id = C.id
          JOIN department D
            ON C.dept_id = D.id
          LEFT JOIN approval_line E
            ON A.id = E.approval_id
          JOIN employee F
            ON E.approver_id = F.id
          JOIN department G
            ON F.dept_id = G.id
         WHERE A.id = #{approvalId}
    </select>

    <select id="findRefDocIdByRefDocCode" resultType="_int">
        SELECT
               B.id
          FROM approval A
        <if test="refDocType == 'SO'">
          JOIN sales_order B
            ON A.ref_code = B.so_code
        </if>
        <if test="refDocType == 'PR'">
          JOIN production_request B
            ON A.ref_code = B.pr_code
        </if>
        <if test="refDocType == 'GI'">
            JOIN goods_issue B
            ON A.ref_code = B.gi_code
        </if>
        <where>
            A.ref_code = #{refDocCode}
        </where>
    </select>

    <update id="updateApprovalLineViewAt">
        UPDATE
               approval_line A
           SET
               A.viewed_at = #{viewedAt}
         WHERE A.id = #{approvalLineId}
    </update>
</mapper>