<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.employee.query.dao.DepartmentMapper">

    <resultMap id="departmentResultMap" type="com.werp.sero.employee.command.domain.aggregate.Department">
        <id property="id" column="id"/>
        <result property="deptCode" column="dept_code"/>
        <result property="deptName" column="dept_name"/>
    </resultMap>

    <!-- Find all departments -->
    <select id="findAll" resultMap="departmentResultMap">
        SELECT
            A.id,
            A.dept_code,
            A.dept_name
        FROM department A
        ORDER BY A.id
    </select>

    <!-- Find department by ID -->
    <select id="findById" resultMap="departmentResultMap">
        SELECT
            A.id,
            A.dept_code,
            A.dept_name
        FROM department A
        WHERE A.id = #{id}
    </select>

</mapper>
