<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.employee.query.dao.EmployeeMapper">

    <resultMap id="EmployeeResultMap" type="com.werp.sero.employee.command.domain.aggregate.Employee">
        <id property="id" column="emp_id"/>
        <result property="empCode" column="emp_code"/>
        <result property="email" column="email"/>
        <result property="name" column="emp_name"/>
        <result property="contact" column="contact"/>
        <result property="status" column="status"/>
        <result property="positionCode" column="position_code"/>
        <result property="rankCode" column="rank_code"/>
        <result property="startDate" column="start_date"/>
        <association property="department" javaType="com.werp.sero.employee.command.domain.aggregate.Department">
            <id property="id" column="dept_id"/>
            <result property="deptCode" column="dept_code"/>
            <result property="deptName" column="dept_name"/>
        </association>
    </resultMap>

    <select id="findAllEmployeesByDeptCode" resultMap="EmployeeResultMap">
        WITH RECURSIVE DeptHierarchy AS (
            SELECT
                A.id,
                A.dept_code,
                A.dept_name,
                A.parent_dept_id
            FROM department A
            WHERE A.dept_code = #{rootDeptCode}

            UNION ALL

            SELECT
                B.id,
                B.dept_code,
                B.dept_name,
                B.parent_dept_id
            FROM department B
                     INNER JOIN DeptHierarchy E ON B.parent_dept_id = E.id
        )
        SELECT
            C.id AS emp_id,
            C.emp_code,
            C.email,
            C.name AS emp_name,
            C.contact,
            C.status,
            C.position_code,
            C.rank_code,
            C.start_date,
            D.id AS dept_id,
            D.dept_code,
            D.dept_name
        FROM employee C
                 JOIN department D ON C.dept_id = D.id
        WHERE D.id IN (SELECT id FROM DeptHierarchy)
        ORDER BY D.parent_dept_id ASC, D.id ASC, C.name ASC
    </select>
</mapper>