<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.deadline.query.dao.DeadLineMapper">

<!-- LineMaterialInfo ResultMap 정의 -->
    <resultMap id="lineMaterialInfoResultMap" type="com.werp.sero.deadline.query.dto.LineMaterialInfo">
        <id property="lineMaterialId" column="line_material_id"/>
        <result property="productionLineId" column="production_line_id"/>
        <result property="productionLineName" column="production_line_name"/>
        <result property="productionLineStatus" column="production_line_status"/>
        <result property="dailyCapacity" column="daily_capacity"/>
    </resultMap>

<!-- 자재 코드로 LineMaterial 정보 조회 -->
    <select id="findLineMaterialByMaterialCode" resultMap="lineMaterialInfoResultMap">
        SELECT A.id                  AS line_material_id
             , B.id                  AS production_line_id
             , B.line_name           AS production_line_name
             , B.status              AS production_line_status
             , B.daily_capacity      AS daily_capacity
          FROM line_material A
         INNER JOIN production_line B ON A.line_id = B.id
         INNER JOIN material C ON A.material_id = C.id
         WHERE C.material_code = #{materialCode}
         LIMIT 1
    </select>


</mapper>
