<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.production.query.dao.ProductionProcessQueryMapper">

    <select id="selectLineMaterialList"
            resultType="com.werp.sero.production.query.dto.LineMaterialListItemDTO">

        SELECT
            A.id            AS lineMaterialId,
            B.id             AS materialId,
            B.material_code  AS materialCode,
            B.name           AS materialName,
            C.id            AS lineId,
            C.line_name     AS lineName,
            A.cycle_time    AS cycleTime
        FROM line_material A
                 JOIN material B ON B.id = A.material_id
                 JOIN production_line C ON C.id = A.line_id
        WHERE C.status = 'PL_ACTIVE'
        ORDER BY B.material_code

    </select>


</mapper>