<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.werp.sero.production.query.dao.ProductionDashboardMapper">

    <select id="selectTodayPlannedQty"
            parameterType="java.time.LocalDate"
            resultType="int">
        SELECT IFNULL(SUM(
                                  pp.production_quantity /
                                  (DATEDIFF(pp.end_date, pp.start_date) + 1)
                          ), 0)
        FROM production_plan pp
        WHERE pp.status = 'PP_CONFIRMED'
          AND pp.start_date &lt;= #{date}
          AND pp.end_date &gt;= #{date}
    </select>


    <select id="selectTodayProducedQty"
            parameterType="java.time.LocalDate"
            resultType="int">
        SELECT IFNULL(SUM(wor.good_quantity), 0)
        FROM work_order_result wor
                 JOIN work_order wo ON wo.id = wor.wo_id
        WHERE wo.work_date = #{date}
    </select>


    <resultMap id="WorkOrderCountMap"
               type="com.werp.sero.production.query.dto.WorkOrderCountDTO">
        <result property="total" column="total"/>
        <result property="running" column="running"/>
        <result property="paused" column="paused"/>
        <result property="done" column="done"/>
    </resultMap>

    <select id="selectTodayWorkOrderCount"
            parameterType="java.time.LocalDate"
            resultMap="WorkOrderCountMap">
        SELECT
            COUNT(*)                          AS total,
            SUM(wo.status = 'WO_RUN')         AS running,
            SUM(wo.status = 'WO_PAUSE')       AS paused,
            SUM(wo.status = 'WO_DONE')        AS done
        FROM work_order wo
        WHERE wo.work_date = #{date}
    </select>

    <select id="selectDelayRiskCount"
            parameterType="java.time.LocalDate"
            resultType="int">
        SELECT COUNT(*)
        FROM production_request pr
        WHERE pr.status IN ('PR_PLANNED', 'PR_PRODUCING')
          AND pr.due_at &lt; DATE_ADD(#{today}, INTERVAL 2 DAY)
    </select>


</mapper>